<h1> Exhibitions </h1>

<ul>
  <% @exhibitions.each do |exhibition| %>
    <li>
       <% if exhibition.url.present? %> 
          <%= link_to exhibition.title, exhibition.url, target: '_blank' %>
        <% else %>
          <%= exhibition.title %>
        <% end %>
    </li>
  <% end %>
</ul>






