<h1> Exhibitions </h1>

<%= link_to "Add Exhibition", new_exhibition_path %>


<div>
  <ul>
    <% @exhibitions.each do |exhibition| %>
      <li>
        <%= link_to exhibition.title, exhibition_path(exhibition) %>
      </li>
    <% end %>
  </ul>
</div>


