<h2>Add Exhibition</h2>
<p>An exhibition that you'd like to go to, this will go into a calendar.</p>

<% if @exhibition.errors.any? %>
    <div id='error_message'>
        <h2><%= pluralize(@exhibition.errors.count, "error")%> prohibited this exhibition from being saved:</h2>
        <ul>
            <% @exhibition.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= render partial: 'exhibition_form', locals: { exhibition: @exhibition } %>