<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
  <%= f.label :artist %>
  <%= f.text_field :artist, value: f.object.artist&.name, placeholder: "Enter Artist Name" %>

  <button type="button" data-action="nested-form#remove">remove</button>

  <%= f.hidden_field :_destroy %>
</div>