<h1> Exhibitions </h1>

<%= link_to "Add Exhibition", new_exhibition_path %>


<div>
  <ul>
    <% @gallery_exhibitions.each do |gallery_exhibition| %>
    <% exhibition = gallery_exhibition.exhibition %>
      <li>
        <%= link_to exhibition.title, exhibition_path(exhibition) %> 
        (<%= gallery_exhibition&.start_date&.strftime("%d/%m/%Y") %> - <%= gallery_exhibition&.end_date&.strftime("%d/%m/%Y") %>)

      </li>
    <% end %>
</div>